.projectsContainer {
  background-color: var(--secondary-color);
  color: var(--white-color);
  position: relative;
  padding: 3rem 0;
}

.projectsContainer h2 {
  text-align: center;
  padding: 0 3rem;
}

@media (1025px <= width) {
  .projectsContainer {
    padding: 5rem 5rem;
  }
}

@media (1280px <= width) {
  .projectsContainer {
    padding: 5rem 10rem;
  }
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.563rem;
}
