.footerContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: var(--secondary-color);
  padding: 1rem 0;
}

.footerContainer .icon {
  width: 2rem;
  height: 2rem;
}

.light.footerContainer {
  background-color: var(--light-color);
}

.light .icon {
  color: var(--primary-color);
}
