.socialIconsContainer {
  display: var(--flex-display);
  gap: 1rem;
  margin: 2rem auto 0 auto;
}

.socialIconsContainer .icon {
  width: 2.2rem;
  height: 2.2rem;
}

.socialIconsContainer .icon:hover {
  transform: translateY(-50%);
  transition: transform 0.5s ease;
}

.light .icon {
  color: var(--primary-color);
}
